


.supported_network_container {
  display: flex;
}

.home_image {
  justify-content: center;
}


.home_image_wrapper {
  flex-direction: column;
  display: flex;
  width: 200px;
  align-items: center;

}
